*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
background-image: linear-gradient(rgb(0, 0, 0, 0.5)70%, rgb(0, 0, 0, 0.5)30%),
 url("../photos/Cat_November_2010-1a.jpg");
 /* background-repeat:no-repeat ;
 background-size:100%,100% ; */
    font-family:Georgia, 'Times New Roman', Times, serif ;
    line-height: 20px;
color: white;
}
/* start of nav */
nav{
        background-color: rgba(34, 80, 100, 0.487);
            /* display: block; */
            color: white;
           overflow: auto;
        
}
nav .firstUl{
list-style: none;
float: left;
width: 50%;
}
nav .firstUl li{
    display: inline-block;
    padding: 20px;

}
nav .firstUl img{
width: 30px;
height: 30px;
border-radius:50% ;
}
nav .secoundUl{
list-style: none;
    float: right;
}
nav .secoundUl li{
    display: inline-block;
    padding: 30px;
}
nav .firstUl li:hover{
    background-color: aliceblue;
    color:rgba(34, 80, 100, 0.879) ;
    border: solid 1px;
    border-color: rgba(34, 80, 100, 0.879);
    border-radius: 5px;
}
nav .secoundUl li:hover {
    background-color: aliceblue;
    color: rgba(34, 80, 100, 0.879);
    border: solid 1px;
    border-color: rgba(34, 80, 100, 0.879);
    border-radius: 5px;
}
/* end of nav bar */
/* start section */
section .up div{
    margin: 50px;
    font-size: 50px;
    font-weight:bold ;
}
hr{
    margin-left: 5%;
    width: 25%;
    color: rgb(205, 136, 51);
}
section .up p{
margin: 45px;
width: 50%;
}
section .down{
    margin: 20px;
    text-align: center;
}
section .down div{
    margin: 20px;
    /* margin-left: 35%; */
    font-size: 50px;
}
section .down p{
    margin-left: 5%;
}
section .photos{
display: inline-block;
margin-left: 20%;
}
.photos img{
    width: 200px;
    height: 300px;
    margin: 20px;
transition: .2s all linear;
}
.photos img:hover{
        transform: scale(1.2);
}
section .link{
    width: 100%;
    margin: 10px;
    text-align: center;
   
}
section .link a{

    text-decoration: none;
        color: aliceblue;
}
/* end of section */
/* start of footer */
footer{
    margin-top: 30px;
    text-align: center;
}
footer .logo img{
width: 30px;
    height: 30px;
    border-radius: 50%;
}
footer ul{
    list-style: none;
    background-color: rgba(36, 33, 29, 0.654);
}
footer ul li{
    display: inline-block;
    padding: 20px;
}
footer ul li:hover{
    background-color:rgb(240, 248, 255);
    color: rgba(34, 32, 28, 0.78);
    border: solid 2px rgb(190, 175, 175);
    border-radius: 10px;
}
/* media qurei */
@media (max-width:891px){
    /* nav{
        display: flex;
    }
    nav .firstUl{
        display: flex;
    } */
    nav .firstUl li {
        display: flex;
        /* grid-template-rows: auto; */
        flex-direction: column;
            text-align: center;
    }
}
@media (max-width:577px) {
    .up{
        line-height: 40px;
    }
    
}